### Maven ###
target/
.mvn/
/.m2/
/.m2repo/
/*.jar

### IntelliJ ###
.idea/
*.iml
out/

### Node/Angular ###
node_modules/
dist/
.angular/cache/

### Logs ###
*.log
logs/

### OS ###
.DS_Store
Thumbs.db

### Env files ###
*.env
*.sql
